body{
    background-image: url('../../images/bg_image_login.png');
    background-size: cover;
    background-position: center center;
}

.card {
    top: 10%;
    background-color: transparent !important;
    color: #fff !important;
    border: none !important;
 }

.login-center {
    width: 70%;
    margin: 0 auto; 
}


.cred-container {
    padding-bottom: 40px;
    outline: none !important;
}

.cred-container input[type="email"], input[type="password"] {
    margin-bottom: 20px;
    padding: 10px 10px 10px 20px;
    background-color: rgba(255, 255, 255, 0.08) !important;
    border-radius: 30px;
    border: none ;
    color: #fff !important;
}

.cred-container input[type="checkbox"] {
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    transition: all 0.5s;
}

.cred-container input[type="email"]:hover, input[type="password"]:hover {
    outline: solid 1px #fff !important; 
    background-color: transparent !important;
    transition: all 0.3s;
}

.cred-container input[type="checkbox"]:checked {
    background-color: #0d6efd !important;
    transition: all 0.5s;
}

.cred-container .btn-primary {
    width: 100%;
    border-radius: 30px;
    padding: 10px 10px 10px 20px;
    margin-bottom: 20px;
}

input:focus{
    outline: none !important;
}

::placeholder {
    color: #fff !important;
}

.remember-me {
    color: #0d6efd;
}

.btn-link {
    font-size: 16px !important;
    text-decoration: none !important;
    float: right;
    color: #fff !important;
}

.card .btn-primary:hover {
    background-color: #0044af;
    animation: 0.2s;
}


.accedi_custom {
    text-align: center;
    padding-top: 20px;   
}

.accedi_custom h1{
    padding-bottom: 70px;
    font-weight:600;
    font-size: 40px;
}

.accedi_custom h3 {
    padding-bottom: 20px;
}

.form-check .row {
    vertical-align: middle;
}

.form-check a {
    padding: 0;
}

.btn-primary {
    border: none !important;
}